body{
	margin:0px;
	padding:0px;
	font-family;combria,"Hoefler Text",Liberatuin serif", Time "Time New Roman",Serif;	
}
.nav{
	background:black;
	height:60px;
	text-align:center;
}
.nav ul{
	margin:opx;
	padding:opx;
}
.nav ul li{
	display:inline-block;
	text-align:justify;
}
.nav ul li a{
	color:white;
	font-size:20px;
	text-decoration:none;
	padding:20px 40px;
	float:left
}
.nav ul li a:hover{
	background:white;
	color:black;
	padding:20px 40px;
}

